.DS_Store
.RData
.Rhistory
.Rproj.user/
Analysis.nb.html
LF82 for Hernan.xlsx
LF82_MG1655_gene expressing_comp.csv
LF82_MG1655_gene expressing_comp.xlsx
MG1655 for Hernan.xlsx
MG1655_LF82_orthologs.xlsx
Plots/
TK_56.Rproj
*.gff
*.fasta*
*.bp
*.tbl
*.txt
*.brm
*.ort
BLASTP/tmp
